<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KessServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://60.173.222.38:30004/kess/services/KessService"
                binding="basicHttpBinding" bindingConfiguration="KessServiceSoapBinding"
                contract="KessService.KessService" name="KessService" />
        </client>
    </system.serviceModel>
</configuration>
