<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="金证统一账户测试账户生成器.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KessServiceSoapBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://60.173.222.38:30004/kess/services/KessService" binding="basicHttpBinding" bindingConfiguration="KessServiceSoapBinding" contract="KessService.KessService" name="KessService"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <金证统一账户测试账户生成器.Properties.Settings>
            <setting name="webservice" serializeAs="String">
                <value>http://60.173.222.38:30004/kess/services/KessService?wsdl</value>
            </setting>
            <setting name="操作员代码" serializeAs="String">
                <value>90019</value>
            </setting>
            <setting name="操作员密码" serializeAs="String">
                <value>888888</value>
            </setting>
            <setting name="操作渠道" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="中登超时时间" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="开户营业部" serializeAs="String">
                <value>19</value>
            </setting>
        </金证统一账户测试账户生成器.Properties.Settings>
    </userSettings>
</configuration>
